


<script type="text/javascript">
  var instant_brand_slider_options = {"enabled": true, "slider_display": 4, "slider_autoplay_enabled": true};
</script>

{% assign sliderheader = "<h4>Our Favourite Brands</h4>" %}
{% assign sliderincludetext = false %}
{% assign headerformat = "h4" %}
{% assign imgwith = "100" %}
{% assign fontsize = "14" %}
{% assign salebanner = "instant-brand-sale1.png" %}
{% assign outofstockvendors = true %}
{% assign bshowsale = false %}
{% assign saleiconcolor = "#FF0000" %}
{% assign bmatchcollectionURL = false %}
{% assign bshowimages = false %}
{% assign brandformat = "vertical" %}
{% assign pagecolumns = 4 %}
{% assign fitbrandimage = true %}
{% assign bshowtext = true %}
{% assign headerstyle = "text-decoration: underline;" %}
{% assign addslidertopage = false %}
{% assign consolidate_numbers = true %}
{% assign consolidate_numbers_char = "#" %}
{% assign display_index = true %}
{% assign index_long_link = true %}
