/*RQ! added code for "Activating Support Chat when a footer link is clicked" ENDS*/
$(document).ready(function(){
  $('body').on('click', '.footer-promotion.color-scheme-none a', function(){ 
     var get_attr =  $(this).attr('href');
     var get_has =  '#';
     if(get_attr.indexOf(get_has) != -1){
      $(".gorgias-chat-key-eam2gc").contents().find('button').trigger('click');
     }  
  });
});
/*RQ! added code for "Activating Support Chat when a footer link is clicked" STARTS*/

/*RQ! adding code for "Read More accordion checkbox" STARTS*/
/*$(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 500;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more";
    var lesstext = "Show less";
    

    $('.template-collection .custom-content .metafield-multi_line_text_field').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="rq-more-content morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="rq-more-link morelink btn btn--secondary btn--small">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".rq-more-link.morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        //$(this).parent().prev().toggle();
        //$(this).prev().toggle();
      
        $(this).parent().prev().slideToggle();
        $(this).prev().slideToggle();
      
        return false;
    });
});*/
/*RQ! adding code for "Read More accordion checkbox" ENDS*/


//ReadMore and ReadLess STARTS
function AddReadMore() {
        var carLmt = 820;
        var contentDataTxt = " ... Read More";
        var someVeekTxt = " Read Less";
        $(".showContentAll").each(function() {
            if ($(this).find(".firstSec").length)
                return;
            var allstr = $(this).html();
            if (allstr.length > carLmt) {
                var firstSet = allstr.substring(0, carLmt);
                var secdHalf = allstr.substring(carLmt, allstr.length);
                //var strtoadd = firstSet + "<span class='DspInfo'>" + secdHalf + "</span><span class='contentData'  title='Click to Show More'>" + contentDataTxt + "</span><span class='someVeek' title='Click to Show Less'>" + someVeekTxt + "</span>";
                var strtoadd = firstSet + "<span class='rq-dots-desc'>...</span>" + "<span class='DspInfo'>" + secdHalf + "</span>";
                $(this).html(strtoadd);
                $('.rq-readmore-mian').show();
                
               
            }
        });
        //ReadMore and ReadLess Click Event binding
       // $(document).on("click", ".contentData,.someVeek", function() {
         //   $(this).closest(".showContentAll").slideUp().addClass("displayreadallsome readalldatafull").slideDown();
        //});
    }
    $(function() {
        //Calling function after Page Load
        AddReadMore();
});
//ReadMore and ReadLess ENDS

$(document).ready(function() {
     $(".rq-readmore-mian").click(function () {
      var textget_less_more = $(this).text().trim();
       //alert(textget_less_more);
  $('.DspInfo').css("opacity", "0");
      if(textget_less_more == 'Read More') {
         $(this).addClass("rq-rotate-arrow-set");
         $('.rq-r-l-text').text("Read Less");
         //$(".rq-desc-more").slideDown();
         //$('.rq-desc1').slideUp(500);
          $('.rq-dots-desc').hide();
         //$('.DspInfo').css("opacity", "1");
         $('.DspInfo').slideDown(200, function() { 
           $(this).css({'display': 'inline', "opacity": "1"});
         });
        //$('.DspInfo').slideDown(500);
      }
      else {
         // $('.DspInfo').slideUp(500);
        
         //$('.DspInfo').slideUp(300, function() { 
         // $(this).css('display', 'none');
         //});
        $('.DspInfo').css("opacity", "0");
         $(".DspInfo").slideUp(200);
         $('.rq-dots-desc').show();
         $(this).removeClass("rq-rotate-arrow-set");
         $('.rq-r-l-text').text("Read More"); 
         //$(".rq-desc-more").slideUp(500);
      }
   }); 
});   

/* Wishlist link at footer in French not working STARTS */
$(document).ready(function() {
    $("ul.footer__menu li a").each(function(){
        var newUrl = $(this).attr('href').replace('/fr#swym-wishlist', '#swym-wishlist');
        $(this).attr('href', newUrl);      
    }); 
}); 

$(document).ready(function() {
    $('ul.footer__menu li a[href="#swym-wishlist"]').click(function(){
        $("body").removeClass('unloading'); 
    }); 
});   
/* Wishlist link at footer in French not working ENDS */